extends ../layout

block content
    div.container
        div.row
            div.col-8
                #user
                    h1.text-center.login-title Привет, #{user.name}. Мои данные:
                        div.signup-wall
                            ul.user-details
                                li Email    ---> #{user.email}
                                li First Name ---> #{user.name}
                                li Last Name ---> #{user.lastName}
                        a(href='/signout', class='text-center new-account') Выход
                    h1.text-center.login-title Мои аккаунты:
                        div.signup-wall
                            ul.user-details
                                each account in accounts
                                    li= account.login